@import '../../../consts.scss';

.bfluffy-button {
    input, a {
        line-height: 20px;
        padding: 10px 16px;
        font-family: MontserratMedium;
        font-size: $font-size-s;
        border-radius: $border-radius;
        border: unset;
        outline: none;
        cursor: pointer;
        user-select: none;
        text-decoration: none;
    }
}

.bfluffy-button-type {

    &__link {
        border: none;
        height: unset;
        font-size: $font-size-s;
        padding: 0 !important;
        font-family: MontserratMedium;
        color: $primary-color;
        box-shadow: unset;
        background-color: white;

        &:hover {
            color: $primary-color;
            opacity: 0.8;
        }
    }

    &__primary {
        background-color: $primary-color;
        color: white;

        &:hover {
            background-color: $primary-color;
            color: white;
            opacity: 0.6;
        }
    }

    &__base {
        box-shadow: $box-shadow;
        color: $gray-color;
        background-color: white;

        &:hover {
            color: $gray-color;
            box-shadow: $box-shadow_hover;
        }
    }
}
