$background-color: #FDF9F6;
$surface-color: #F5F9FB;

$primary-color: #F85F59;
$primary-variant-color: #050831;
$secondary-color: #80CFE0;

@font-face {
    font-family: MontserratRegular;
    src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: MontserratBold;
    src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}

.bfluffy-button-simple {
    min-width: 190px;
    height: 35px !important;
    padding: 7px 20px 9px 20px !important;
    background-color: $primary-color !important;
    font-family: MontserratRegular !important;
    color: white !important;
    font-size: 14px !important;
    border-radius: 4px !important;
    transition: all 0.15s linear !important;
    border: unset !important;
    outline: none !important;

    &:hover, &:focus {
        background-color: $primary-color !important;
        color: white;
        opacity: 0.85;
    }
}

.bfluffy-button-link {
    border: none;
    height: unset;
    font-size: 12px;
    padding: 0;
    font-family: MontserratRegular;
    color: $primary-color;
    box-shadow: unset;

    &:hover, &:focus {
        color: $primary-color;
        opacity: 0.85;
    }
}

.bfluffy-spinner {
    & i {
        background-color: $primary-color;
    }
}

.bfluffy-modal-error {
    & .ant-modal-confirm-title {
        font-family: MontserratBold;
    }

    & .ant-modal-confirm-content {
        font-family: MontserratRegular;
    }

    & .ant-modal-confirm-btns {
        & button {
            @extend .bfluffy-button-simple;
            min-width: unset;
        }
    }
}

.bfluffy-modal-success {
    @extend .bfluffy-modal-error;
}

.ant-modal-content {
    font-family: MontserratBold;
    border-radius: 6px;

    & .ant-modal-close-x {
        display: flex;

        & span {
            margin: auto;
        }
    }

    & .ant-modal-footer {
        font-family: MontserratRegular;

        & .ant-btn {
            &:hover {
                color: $primary-color !important;
                border-color: $primary-color !important;
            }
        }

        & .ant-btn-primary {
            background-color: $primary-color;
            border-color: $primary-color;
            &:hover {
                color: white !important;
                opacity: 0.8;
            }
        }
    }
}
