$background-color: #F5F9FB;
$surface-color: #F5F9FB;

$primary-color: #050831;
$primary-variant-color: #050831;
$secondary-color: #396BFF;
$secondary-variant-color: #396BFF;

$error-color: #396BFF;

$text-xl: 28px;
$text-l: 18px;
$text-m: 13px;
$text-s: 11px;
