@import '../../../consts.scss';

.bfluffy-edit-text {
    box-shadow: unset;
    display: flex;
    flex-direction: column;
    font-size: $font-size-s;
    font-family: MontserratBold;

    & input {
        font-family: MontserratMedium;
        border-radius: $border-radius;
        outline: none;
        border: none;
        background-color: $surface-color;
        padding: 10px 18px;

        &::placeholder {
            color: $gray-color;
            font-family: MontserratMedium;
            font-size: $font-size-s;
        }
    }

    &__error {
        font-size: $font-size-xs;
        color: $primary-color;
        margin: 0;
    }
}
