@import '../../../common/consts.scss';

.not-auth-page {
    width: 100%;
    height: 100%;

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        & h1 {
            font-family: FontBold;
            text-align: center;
        }

        & .bfluffy-button {
            margin: auto;
        }
    }
}
