@import '../../../consts.scss';

.bfluffy-search-select {
    box-shadow: unset;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: $font-size-s;
    font-family: FontBold;

    & input {
        font-family: FontMedium;
        border-radius: $border-radius;
        outline: none;
        border: none;
        background-color: $surface-color;
        padding: 10px 18px;
        font-size: $font-size-s;

        &::placeholder {
            color: $primary-text-color;
            font-family: FontMedium;
            font-size: $font-size-s;
        }
    }

    &__error {
        font-size: $font-size-xs;
        color: $primary-color;
        margin: 0;
    }

    &__options-container {
        z-index: 2;
        position: absolute;
        top: 36px;
        background-color: white;
        border-radius: $border-radius;
        width: 100%;
        margin-top: 8px;
        box-shadow: $box-shadow;
        user-select: none;
        max-height: 300px;
        overflow: scroll;

        & option {
            border-radius: $border-radius;
            padding: 8px 10px;
            margin: 2px 8px;
            color: $primary-text-color;
            font-size: $font-size-s;
            font-family: FontBold;

            &:hover {
                background-color: rgba(128, 207, 224, 0.1);
                color: $secondary-color !important;
                cursor: pointer;
            }

            &:first-child {
                margin-top: 8px
            }

            &:last-child {
                margin-bottom: 8px
            }
        }
    }
}
