@import '../../../common/consts.scss';
@import '../../../common/components/toast/toast.scss';

html, body, #root {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: $background-color;
}

.root-desktop {}
