@import '../../consts.scss';

.navbar {
    margin-top: 24px;
    margin-bottom: 24px;

    &__container {
        display: grid;
        grid-template-columns: auto auto;
    }

    &__controls-container {
        display: flex;
        flex-direction: row;
        justify-self: end;
    }

    &__login-button {
        margin-right: 16px;
    }
}
