.navbar {
    padding: 16px 40px 0 40px;

    &__container {
        display: grid;
        grid-template-columns: auto 20% 20%;

        & .ant-divider-vertical {
            border-left: 2px solid black;
            margin: 0px 16px;
        }
    }

    &__logo-container {
        font-family: MontserratBold;
        font-size: 32px;
        color: black;
    }
}
