@import '../../consts.scss';

.cabinet {

    &__container {
        display: grid;
        grid-template-columns: 30% 70%
    }

    &__control-panel {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .display-name {
            font-family: MontserratBold;
            color: $primary-color;
            margin-bottom: 4px;
            margin-top: 16px;
        }

        & .farm-type {
            font-family: MontserratRegular;
            color: $secondary-color;
        }
    }

    &__main-panel {
        & .title {
            font-family: MontserratBold;
            text-align: center;
        }
    }

    &__menu {
        margin-top: 64px !important;
        border-right: 0 !important;

        & li {
            text-align: center;
            color: #BFBFBF;
        }

        & .ant-menu-item-selected {
            background-color: unset !important;
            color: black;
        }

        & .ant-menu-item-active {
            color: black;
        }
    }

    &__my-ads-panel {

    }

    &__settings-panel {

    }
}
