@import '../../../consts.scss';

.animal-breed-select {

    &_container {

    }

    &__label {
        font-size: $font-size-s;
        margin-bottom: 2px;
    }

    &__select {
        background-color: $surface-color !important;
        border-radius: $border-radius !important;

        & input {
            height: 100% !important;
            margin: 0 8px !important;
        }
    }
}
