@import '../../../consts.scss';

.bfluffy-modal-message {

    &__message {
        font-size: $font-size-s;
        font-family: MontserratMedium;
    }

    &__ok-button {
        display: flex;
        margin-top: 16px;

        & input {
            margin-left: auto;
        }
    }
}
