@import '../../../consts.scss';

.bfluffy-modal {
    display: none;
    z-index: 1000;

    &__content {
        background-color: white;
        padding: 20px 40px 40px 40px;
        border-radius: $border-radius;
        position: relative;
    }

    &__title {
        font-family: MontserratBold;
        font-size: $font-size-l;
        line-height: $font-size-l;
        text-align: left;
        margin-top: 36px;
        margin-bottom: 36px;
    }

    &__visible {
        display: block !important;
    }

    &__cross {
        position: absolute;
        cursor: pointer;
        right: 16px;
        top: 16px;
        width: 24px;
        height: 24px;
        background: $gray-color;
        border-radius: 50%;;
        opacity: 0.3;
        z-index: 1001;

        &:before, &:after {
            position: absolute;
            border-radius: 25px;
            left: 11px;
            top: 6px;
            content: ' ';
            height: 11px;
            width: 2px;
            background-color: #333;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }

        &:hover {
            opacity: 0.5;
        }
    }


    &__mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

