@import '../../../consts.scss';

.bfluffy-select {
    box-shadow: unset;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: $font-size-s;
    font-family: MontserratBold;

    &__error {
        font-size: $font-size-xs;
        color: $primary-color;
        margin: 0;
    }

    &__input-container {
        font-family: MontserratMedium;
        border-radius: $border-radius;
        outline: none;
        border: none;
        background-color: $surface-color;
        padding: 10px 18px;

        input {
            z-index: 1;
            opacity: 0;
            cursor: pointer;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
        }
    }

    &__input-text-container {
        position: relative;
        color: $line-color;
        font-family: MontserratMedium;
        font-size: $font-size-s;
        height: 16px;
    }

    &__placeholder-container {
        & span.selected {
            color: black;
        }
    }

    &__chevron_enabled {
        opacity: 1 !important;

        & img {
            transform: rotate(0) !important;
        }
    }

    &__chevron {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        opacity: 0.5;

        & img {
            margin: auto;
            width: 12px;
            height: 12px;
            opacity: 0.8;
            transform: rotate(180deg);
            transition: $base-transition;
        }
    }

    &__options-container {
        display: none;
        z-index: 2;
        position: absolute;
        top: 36px;
        background-color: white;
        border-radius: $border-radius;
        width: 100%;
        margin-top: 8px;
        box-shadow: $box-shadow;
        user-select: none;
        max-height: 300px;
        overflow: scroll;

        & option {
            border-radius: $border-radius;
            padding: 8px 10px;
            margin: 2px 8px;
            color: $line-color;
            font-size: $font-size-s;
            font-family: MontserratBold;

            &:hover {
                background-color: rgba(128, 207, 224, 0.1);
                color: $secondary-color !important;
                cursor: pointer;
            }

            &:first-child {
                margin-top: 8px
            }

            &:last-child {
                margin-bottom: 8px
            }
        }
    }

    &__options-container_visible {
        display: block;
    }

    &__option-selected {
        color: black !important;
    }
}
