@import '../../../consts.scss';

.bfluffy-image-upload {

    background-color: $surface-color;
    user-select: none;
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 6px;
    opacity: 0.85;

    & .bfluffy-spinner-wrapper__spinner-container {
        border-radius: 6px;
    }

    &:hover {
        opacity: 1;
    }

    &__container {
        display: inline-flex;
        width: 120px;
        height: 120px;
    }

    &__image-preview {
        width: 120px;
        height: 120px;
        border-radius: 6px;
        object-fit: cover;
    }

    &__button-wrapper {
        width: 120px;
        height: 120px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    &__title {
        margin: auto;
        font-family: FontMedium;
        font-size: 12px;
        text-align: center;
    }

    &__upload-button {
        outline: 0;
        opacity: 0;
        pointer-events: none;
        user-select: none;
        height: 0px;
    }
}
