@import '../../../consts.scss';

.ad-edit-page {

    &__base-input {
        margin-bottom: 12px;
    }

    &__form {
        max-width: 600px;
        margin: auto;
    }

    &__form-header {
        margin-bottom: 32px;
        text-align: center;
    }

    &__price-container {
        margin-top: 32px;
        position: relative;
    }

    &__ruble {
        height: 20px;
        top: 7px;
        position: absolute;
        right: -26px;
    }
}
